.body {
  margin: 0;
  padding: 0;
}

/* .container {
    margin-top: 70px;
} */

.center-text h1 {
  font-size: 44px;
  font-family: Franklin Gothic Medium;
  text-align: center;
  height: 35px;
}
.center-text p {
  font-size: 22px;
  font-family: Franklin Gothic;
  text-align: center;
  color: gray;
}
.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70%;
  height: 150px;
  background-color: #f8f8f8;
  border: 2px dashed lightgrey;
}
.upload-btn {
  width: 130px;
  height: 40px;
  border: none;
  background-color: #4c1bbdd5;
  color: #fff;
  font-size: 16px;
  border-radius: 7px;
}

.list-center-text {
  color: #f8f8f8;
  font-family: Franklin Gothic;
  text-align: center;
  background-color: #19172fd9;
  margin-top: 50px;
}
.list-center-text h2 {
  padding: 5px;
  font-size: 30px;
}
.no-file {
  font-size: 22px;
  color: black;
  font-family: Franklin Gothic;
  text-align: center;
}
.file-details {
  display: flex;
  justify-content: space-evenly;
}
table {
  border-collapse: collapse;
  width: 100%;
  /* margin: 20px 0; */
  margin: auto;
}
th,
td {
  text-align: left;
  padding: 12px;
}
th {
  background-color: #eee;
  font-weight: bold;
}
td {
  border-bottom: 1px solid #ddd;
}
.view-link {
  padding: 10px;
  text-decoration: none;
  color: #0000f1;
}
.delete-link {
  padding: 10px;
  font-size: 18px;
}

/*  styles on hover */
.upload-btn:hover {
  transform: translateY(-1.5px);
  box-shadow: 0px 2px 2px 1px rgba(75, 136, 253, 0.4);
  cursor: pointer;
}

/* Animation things  */
.box {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.bubbles {
  position: relative;
  display: flex;
}
.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background: #61899270;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even) {
  background: #7f75ac80;
  box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}
@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}
